<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <!-- LEFT FRAME -->
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/facebook.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/instagram.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/twitter.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/linkedin.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/youtube.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/dribbble.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2"></div>
          <div class="marginer"></div>
          <!-- LANGUAGES -->
          <div class="left_3"></div>
          <!-- END LANGUAGES -->
          <div class="marginer"></div>
          <!-- SKILLS -->
          <div class="left_4"></div>
          <!-- END SKILLS  -->
          <div class="marginer"></div>
          <!-- EXTRA SKILLS -->
          <div class="left_5"></div>
          <!-- END EXTRA SKILLS -->
          <div class="marginer"></div>
        </div>
        <!-- END LEFT FRAME -->
        <!-- MIDD FRAME -->
        <div class="midd_frame"></div>
        <!-- END MIDD FRAME -->
        <!-- RIGHT FRAME -->
        <div class="right_frame"></div>
        <!-- END RIGHT FRAME -->
      </div>
    </div>
  </body>
</html>
